<div class="filter-row de-p-vbase">
  <mat-form-field>
    <mat-label>{{TKey.COMMON.SEARCH}}</mat-label>
    <input matInput type="text" [(ngModel)]="searchText" (ngModelChange)="onFilterChange()">
    <button *ngIf="searchText" matSuffix mat-icon-button (click)="searchText=''; onFilterChange();">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>

  <mat-form-field>
    <mat-label>{{TKey.COMMON.ROUTE}}</mat-label>
    <mat-select [formControl]="routeFilter.control" multiple>
      <div class="select-all">
        <mat-checkbox [(ngModel)]="routeFilter.selectAll"
                      [ngModelOptions]="{ standalone: true }"
                      (change)="routeFilter.toggleSelectAll()">Select All</mat-checkbox>
      </div>
      <mat-option *ngFor="let status of routeFilter.controlOptions" [value]="status" (click)="routeFilter.onSelectionChange()">{{status}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>{{TKey.UG.WORK_TYPE}}</mat-label>
    <mat-select [formControl]="workTypeFilter.control" multiple>
      <div class="select-all">
        <mat-checkbox [(ngModel)]="workTypeFilter.selectAll"
                      [ngModelOptions]="{ standalone: true }"
                      (change)="workTypeFilter.toggleSelectAll()">Select All</mat-checkbox>
      </div>
      <mat-option *ngFor="let status of workTypeFilter.controlOptions" [value]="status" (click)="workTypeFilter.onSelectionChange()">{{status}}</mat-option>
    </mat-select>
  </mat-form-field>

  <button mat-raised-button color="accent" *ngIf="settingsService.isOnline" (click)="createRecord()"><mat-icon>add</mat-icon>{{TKey.COMMON.ADD}}</button>
</div>

<de-refresh-data [cacheInfo]="cacheInfo" (refresh)="refreshData(true)" class="de-m-bbase"></de-refresh-data>

<mat-table matSort [dataSource]="data" matSortActive="Date" matSortDirection="desc"  class="mat-elevation-z8">
  <ng-container matColumnDef="{{column}}" *ngFor="let column of displayedColumnsWithAction">
    <mat-header-cell mat-sort-header *matHeaderCellDef [ngClass]="'de-f-justifycenter'">{{column === 'ACTIONS' ? '' : column}}</mat-header-cell>

    <mat-cell *matCellDef="let element" [ngClass]="getCellClassNames(element, column)">
      <ng-container [ngSwitch]="column">
        <ng-container *ngSwitchCase="ugPatrolColumns?.DATE?.label">{{element.getPatrolDateStr()}}</ng-container>

        <ng-container *ngSwitchCase="'ACTIONS'">
          <ng-container *ngIf="element?.ID && (authService.isUGAdmin() || isRecordByLoggedInUser(element))">
            <mat-icon color="primary" class="de-cursorpointer de-m-rbase" (click)="editRecord(element)">edit</mat-icon>
            <mat-icon color="warn" class="de-cursorpointer" (click)="recordToDelete = element">delete</mat-icon>
          </ng-container>
        </ng-container>

        <ng-container *ngSwitchDefault>{{element[column]}}</ng-container>
      </ng-container>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumnsWithAction; sticky: true"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumnsWithAction;"></mat-row>
</mat-table>

<mat-paginator [pageSizeOptions]="[25, 50, 100, 20]" pageSize="50" showFirstLastButtons></mat-paginator>

<de-dialog *ngIf="recordToEdit" classNames="min-w300" (closeDialog)="recordToEdit = null">
  <ng-container de-dialog-header>{{recordToEdit.ID ? TKey.UG.EDIT_PATROL : TKey.UG.ADD_PATROL}}</ng-container>
  <ng-container de-dialog-body>
    <div class="de-p-vbase"></div>

    <mat-form-field>
      <mat-label>{{TKey.COMMON.DATE}}</mat-label>
      <input matInput [matDatepicker]="picker" [(ngModel)]="recordToEdit.Date">
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <de-autocomplete [label]="TKey.COMMON.LOCATION" [(ngModel)]="recordToEdit.Location" [options]="options.location"></de-autocomplete>

    <de-autocomplete [label]="TKey.COMMON.ROUTE" [(ngModel)]="recordToEdit.Route" [options]="options.route"></de-autocomplete>

    <mat-form-field>
      <mat-label>{{TKey.UG.WORK_TYPE}}</mat-label>
      <mat-select [(ngModel)]="recordToEdit.WorkType">
        <mat-option *ngFor="let status of settingsService.metadata.ugWorkType" [value]="status">{{status}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{TKey.UG.PATROL_COUNT}}</mat-label>
      <input matInput type="number" [(ngModel)]="recordToEdit.PatrolCount">
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{TKey.COMMON.REMARKS}}</mat-label>
      <textarea matInput [(ngModel)]="recordToEdit.Remarks"></textarea>
    </mat-form-field>
  </ng-container>

  <ng-container de-dialog-footer>
    <button mat-raised-button color="warn" (click)="recordToEdit = null"><mat-icon>close</mat-icon>{{TKey.COMMON.CANCEL}}</button>
    <button mat-raised-button color="primary" (click)="updateRecord()">
      <div class="de-f-aligncenter de-sm-rsmall-nolast">
        <mat-icon>save</mat-icon>
        <span>{{TKey.COMMON.SAVE}}</span>
      </div>
    </button>
  </ng-container>
</de-dialog>

<de-confirmation-dialog *ngIf="recordToDelete"
  [title]="'Delete Patrol?'"
  [content]="'Are you sure you want to delete patrol \'' + recordToDelete.Route + '\'?'"
  (onSuccess)="deleteRecord()" (onCancel)="recordToDelete = null">
</de-confirmation-dialog>
