.filter-row {
  .advanced-filter-label {
    color: var(--primary);
    justify-content: end;
    margin-top: 6px;
    margin-bottom: 6px;
    text-decoration: underline;
    width: 100%;
  }
}

.select-all {
  padding: 6px;
}

.expanded-detail-row, .expanded-detail-cell {
  min-height: 0px;
}

.collection-filter, .pending-settlement-filter {
  align-items: flex-start;
  border: 1px solid rgba(0, 0, 0, 0.38);
  border-radius: 4px;
  flex-direction: column;
  padding: 20px;
  position: relative;

  > label {
    background: #fafafa;
    color: rgba(0, 0, 0, 0.6);
    font-size: 12px;
    left: 12px;
    padding: 0px 6px;
    position: absolute;
    top: -11px;
  }

  > mat-slide-toggle {
    margin-bottom: 16px;
  }

  > mat-form-field {
    width: 100%;
  }
}

.mobile-cell {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
