:host {
  display: flex;
  justify-content: center;
}

p {
  margin: 0px;
}

table {
  border-collapse: collapse;
  border-color: rgb(222, 226, 230);
  display: table;
  margin: 12px 0px;
  max-width: 500px;
  min-width: 330px;
  width: 100%;

  th {
    background-color: #d2d8ff;
    font-weight: 500;
  }

  th, td {
    border: 1px solid rgb(222, 226, 230);
    border-collapse: collapse;
    padding: 6px;
  }
}

table.details-table {
  border: 0px;

  td:nth-child(2) {
    padding-left: 6px;
  }

  td {
    padding-bottom: 3px;
  }
}

table.collection-table {
  text-align: center;
}

.title {
  color: rgb(0, 0, 255);
  font-size: 24px;
}

.subtitle {
  font-size: 20px;
}

.company-name {
  color: gray;
  font-size: 14px;
  font-style: italic;
  margin: 12px 0px 6px 0px;
}

.company-description {
  color: gray;
  font-size: 12px;
  font-style: italic;
  line-height: 12px;
  margin: 0px;
}

.disclaimer mat-icon {
  min-height: 24px;
  min-width: 24px;
}

.paylink {
  align-items: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: 0px solid black;
  border-radius: 4px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  height: 50px;
  justify-content: center;
  margin: 6px;
  padding: 6px 10px;
  text-decoration: none;
  width: 160px;
}

#upipaylink {
  background-image: url('./../../../../assets/images/upi.png');
  background-size: 70% 55%;
}

#gpaylink {
  background-image: url('./../../../../assets/images/gpay.png');
  background-size: 85% 55%;
}

#phonepaylink {
  background-image: url('./../../../../assets/images/phonepe.png');
  background-size: 81% 68%;
}

#paytmlink {
  background-image: url('./../../../../assets/images/paytm.png');
  background-size: 65% 55%;
}
