:host {
  display: flex;
  justify-content: center;
}

.signin-button {
  de-spinner {
    margin-left: 6px;
  }

  ::ng-deep .mdc-button__label {
    align-items: center;
    display: flex;
  }
}

.version-text {
  color: #a5a5a5;
  font-style: italic;
  text-align: center;
}
