<form class="de-f-column de-maxw-quartervp de-m-auto" [style]="{ minWidth: '300px' }" [formGroup]="signInForm" (ngSubmit)="onFormSubmit()">
  <mat-form-field [hideRequiredMarker]="true">
    <mat-label>Username</mat-label>
    <mat-icon matPrefix>person</mat-icon>
    <input matInput placeholder="Ex. Pradeep" formControlName="username">
  </mat-form-field>

  <mat-form-field [hideRequiredMarker]="true">
    <mat-label>Password</mat-label>
    <mat-icon matPrefix (click)="showPassword = !showPassword" class="de-cursorpointer">{{showPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
    <input matInput placeholder="Password" [type]="showPassword ? 'text' : 'password'" formControlName="password">
  </mat-form-field>

  <button mat-raised-button color="primary" class="signin-button">
    {{TKey.COMMON.SIGNIN}}
    <de-spinner [size]="16" color="white" *ngIf="loading"></de-spinner>
  </button>

  <p *ngIf="errorMsg" class="danger-text de-m-tbase--force">{{errorMsg}}</p>
</form>
