:host {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
}

mat-sidenav {
  max-width: 250px;
  min-width: 250px;
}

.profile-menu {
  cursor: pointer;

  .avatar {
    background: #fff;
    border-radius: 50%;
    color: #000;
    font-size: 12px;
    padding: 8px;
  }
}

mat-tree-node, .mat-tree-node {
  cursor: pointer;

  &:hover {
    background-color: rgba(0, 0, 0, 0.04);
  }
}

.active-route, .active-route:hover {
  background-color: #00000026;
}
