<table class="customer-details">
  <ng-container *ngIf="isCableAdmin()">
    <tr>
      <td>{{TKey.COMMON.ID}}:</td>
      <td><de-copyable-text [text]="customer.ID"></de-copyable-text></td>
    </tr>
    <tr>
      <td>{{TKey.COMMON.STB_STATUS}}:</td>
      <td>{{customer['STB Status']}}</td>
    </tr>
  </ng-container>

  <tr>
    <td>{{TKey.COMMON.STB}}:</td>
    <td class="de-f-aligncenter de-sm-rbase-nolast">
      <de-copyable-text [text]="customer.STB"></de-copyable-text>
      <ng-container *ngIf="customer['STB Type'] === 'TACTV'">
        <mat-icon class="primary-text de-cursorpointer" (click)="utilService.tactvActivation(customer)">open_in_new</mat-icon>
      </ng-container>

      <ng-container *ngIf="customer['STB Type'] === 'GTPL'">
        <mat-icon class="success-text bold-text de-cursorpointer" (click)="utilService.gtplActivation(customer, true)">desktop_windows</mat-icon>
        <mat-icon class="danger-text bold-text de-cursorpointer" (click)="utilService.gtplActivation(customer, false)">desktop_access_disabled</mat-icon>
      </ng-container>
    </td>
  </tr>

  <tr class="mobile-row">
    <td>{{TKey.COMMON.MOBILE}}:</td>
    <td>
      <div class="de-f-aligncenter de-sm-rbase-nolast" *ngFor="let mobile of customer.getMobileNumbers()">
        <de-mobile-number [mobile]="mobile" displayType="TEXT"></de-mobile-number>
        <div class="de-f-aligncenter de-sm-rbase-nolast">
          <de-mobile-number [mobile]="mobile" displayType="CALL"></de-mobile-number>
          <de-mobile-number *ngIf="settingsService.isNative && authService.isCableAdmin() && customer.hasPendingPayment()" [mobile]="mobile" [message]="customer.getSmsReminderText()" displayType="SMS_REMINDER"></de-mobile-number>
          <de-mobile-number [mobile]="mobile" displayType="WHATSAPP"></de-mobile-number>
          <de-mobile-number *ngIf="authService.isCableAdmin() && customer.hasPendingPayment()" [mobile]="mobile" [message]="customer.getReminderText()" displayType="WHATSAPP_REMINDER"></de-mobile-number>
        </div>
      </div>
    </td>
  </tr>

  <tr>
    <td>{{TKey.COMMON.CONNECTION_ON}}:</td>
    <td>{{customer.getConnectionDate()}}</td>
  </tr>

  <tr>
    <td>{{TKey.COMMON.NOTES}}:</td>
    <td>{{customer['Own Notes'] || customer.Notes}}</td>
  </tr>

  <tr *ngIf="customer.Latitude && customer.Longitude">
    <td>{{TKey.COMMON.LOCATION}}:</td>
    <td>
      <div class="de-f-aligncenter">
        <a [href]="geolocationService.getGoogleLocationUrl(customer.Latitude, customer.Longitude)" class="de-if-aligncenter" target="_blank">
          <mat-icon>location_on</mat-icon>
        </a>

        <de-copyable-text
          [text]="geolocationService.getGoogleLocationUrl(customer.Latitude, customer.Longitude)"
          displayText="{{TKey.COMMON.LAT_ABBR}}: {{customer.Latitude || 0}}, {{TKey.COMMON.LON_ABBR}}: {{customer.Longitude || 0}}">
        </de-copyable-text>
      </div>
    </td>
  </tr>

  <tr *ngIf="showMiniMap">
    <td colspan="2">
      <de-cable-location [customer]="customer"></de-cable-location>
    </td>
  </tr>

  <tr *ngIf="showPaymentQrCode">
    <td colspan="2">
      <img [src]="customer.qrCodeUrl()" class="de-block" />
      <a mat-raised-button *ngIf="settingsService.getPaymentInfo().isMerchant" [href]="customer.upiUrl()" target="_blank">{{TKey.COMMON.PAY_BILL}}</a>
    </td>
  </tr>
</table>

<div class="de-f de-sm-rbase-nolast">
  <button mat-stroked-button color="primary" (click)="showPaymentQrCode = !showPaymentQrCode" class="de-m-vbase">
    <mat-icon matPrefix>qr_code</mat-icon>
    {{TKey.COMMON.PAYMENT_QR_CODE}}
  </button>

  <button mat-stroked-button *ngIf="customer.hasLocationInfo()" color="primary" (click)="showMiniMap = !showMiniMap" class="de-m-vbase">
    <mat-icon matPrefix>{{showMiniMap ? 'location_off' : 'location_on'}}</mat-icon>
    {{TKey.COMMON.MAP_VIEW}}
  </button>
</div>

<div class="customer-card-wrapper">
  <table class="customer-card">
    <tr>
      <th>Month</th>
      <th>Collected</th>
      <th>Amount</th>
      <th>Settled</th>
      <th>Notes</th>
    </tr>
    <tr *ngFor="let month of customer.getMonthsInOrder()">
      <td>{{month}}</td>
      <td>{{customer.getCollectionDateStrFormat(month)}}</td>
      <td>{{customer.get(month)}}</td>
      <td>{{customer.getSettlementDateStrFormat(month)}}</td>
      <td>{{customer.getNotes(month)}}</td>
    </tr>
  </table>
</div>