mat-header-cell:first-child:not([colspan="10"]), mat-cell:first-child:not([colspan="10"]),
mat-header-cell:nth-child(2), mat-cell:nth-child(2) {
  align-items: center;
  justify-content: center;
  padding: 0px !important;
  max-width: 36px !important;
  width: 36px !important;
}

mat-header-cell:first-child:not([colspan="10"]), mat-cell:first-child:not([colspan="10"]) {
  padding-left: 12px !important;
}

.highlight-row {
  background-color: #f0f0f0;
}

.expanded-detail-row {
  min-height: 0px;
}

table {
  line-height: 24px;
}
