<table class="customer-details">
  <tr>
    <td>STB:</td>
    <td><de-copyable-text [text]="customer.STB"></de-copyable-text></td>
  </tr>
  <tr class="mobile-row">
    <td>Mobile:</td>
    <td>
      <div class="de-f-aligncenter de-sm-rbase-nolast" *ngFor="let mobile of customer.getMobileNumbers()">
        <de-mobile-number [mobile]="mobile" displayType="TEXT"></de-mobile-number>
        <div class="de-f-aligncenter de-sm-rbase-nolast">
          <de-mobile-number [mobile]="mobile" displayType="CALL"></de-mobile-number>
          <de-mobile-number [mobile]="mobile" displayType="WHATSAPP"></de-mobile-number>
        </div>
      </div>
    </td>
  </tr>
  <tr>
    <td>Conection On:</td>
    <td>{{customer.getConnectionDate(true)}}</td>
  </tr>
  <tr>
    <td>Notes:</td>
    <td>{{customer['Own Notes'] || customer.Notes}}</td>
  </tr>
</table>

<div class="customer-card-wrapper">
  <table>
    <tr>
      <th>Month</th>
      <th>Collected</th>
      <th>Amount</th>
      <th>Settled</th>
      <th>Notes</th>
    </tr>
    <tr *ngFor="let month of customer.getMonthsInOrder()">
      <td>{{month}}</td>
      <td>{{customer.getCollectionDate(month)}}</td>
      <td>{{customer.get(month)}}</td>
      <td>{{customer.getSettlementDate(month)}}</td>
      <td>{{customer.getNotes(month)}}</td>
    </tr>
  </table>
</div>