.de-block {
  display: block;
}

.de-inline {
  display: inline;
}

.de-inlineblock {
  display: inline-block;
}

.de-hide {
  display: none;
}

.de-hidden {
  visibility: hidden;
}

.de-breakall {
  word-break: break-all;
}

.de-relative {
  position: relative;
}

.de-absolute {
  position: absolute;
}

.de-cursorpointer {
  cursor: pointer;
}

.de-textalign-center {
  text-align: center;
}

.de-breakword {
  word-break: break-word;
}

.de-link {
  color: var(--primary);
  cursor: pointer;
  text-decoration: underline;
}

.de-noborder {
  border: 0px;
}

.de-noborder--force {
  border: 0px !important;
}

.de-truncated-text {
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.de-required::after {
  color: var(--danger-base);
  content: '*';
}

.de-copyable-text {
  cursor: pointer;
  text-decoration: underline;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="datetime-local"]::-webkit-calendar-picker-indicator {
  background: url(https://mywildalberta.ca/images/GFX-MWA-Parks-Reservations.png) no-repeat;
  border-width: thin;
  color: rgba(0, 0, 0, 0);
  display: block;
  opacity: 1;
  height: 20px;
  width: 20px;
}
