mat-form-field {
  min-width: 200px;
  width: 100%;

  &.readonly * {
    pointer-events: none !important;
  }
}

mat-table {
  max-width: 100px;

  mat-header-row {
    background-color: #d2d8ff;
  }

  mat-header-cell, mat-cell {
    padding: 0px 12px !important;
  }

  .cdk-column-ACTIONS, .mat-column-ACTIONS {
    max-width: fit-content;
    width: fit-content;
  }

  mat-row mat-cell {
    padding: 12px;
    word-break: break-word;
  }

  mat-cell.align-center {
    text-align: center !important;
    justify-content: center !important;
  }
}
