@each $prefix, $prop in ('w': 'width', 'h': 'height') {
  @each $type, $value in ('auto': auto, 'zero': 0px, 'full': 100%, 'half': 50%, 'onethird': 33.333%, 'quarter': 25%) {
    .de-#{$prefix}-#{$type} {
      #{$prop}: #{$value};
    }

    .de-#{$prefix}-#{$type}--force {
      #{$prop}: #{$value} !important;
    }

    .de-min#{$prefix}-#{$type} {
      min-#{$prop}: #{$value};
    }

    .de-min#{$prefix}-#{$type}--force {
      min-#{$prop}: #{$value} !important;
    }

    .de-max#{$prefix}-#{$type} {
      max-#{$prop}: #{$value};
    }

    .de-max#{$prefix}-#{$type}--force {
      max-#{$prop}: #{$value} !important;
    }
  }
}

@each $type, $value in ('fullvp': 100vh, 'halfvp': 50vh, 'onethirdvp': 33.333vh, 'quartervp': 25vh) {
  .de-h-#{$type} {
    height: #{$value};
  }

  .de-h-#{$type}--force {
    height: #{$value} !important;
  }

  .de-minh-#{$type} {
    min-height: #{$value};
  }

  .de-minh-#{$type}--force {
    min-height: #{$value} !important;
  }

  .de-maxh-#{$type} {
    max-height: #{$value};
  }

  .de-maxh-#{$type}--force {
    max-height: #{$value} !important;
  }
}

@each $type, $value in ('fullvp': 100vw, 'halfvp': 50vw, 'onethirdvp': 33.333vw, 'quartervp': 25vw) {
  .de-w-#{$type} {
    width: #{$value};
  }

  .de-w-#{$type}--force {
    width: #{$value} !important;
  }

  .de-minw-#{$type} {
    min-width: #{$value};
  }

  .de-minw-#{$type}--force {
    min-width: #{$value} !important;
  }

  .de-maxw-#{$type} {
    max-width: #{$value};
  }

  .de-maxw-#{$type}--force {
    max-width: #{$value} !important;
  }
}
