.hint-text {
  font-size: 12px;
}

.success-text {
  color: var(--success);
}

.danger-text {
  color: var(--danger);
}

.bold-text {
  font-weight: bold;
}

.italic-text {
  font-style: italic;
}

.underline-text {
  text-decoration: underline;
}
